:root {
    --bg: #2d3047;
    --bg-accent: #93b7be;
    --yellow: #e0ca3c;
    --rose-quartz: #a799b7;
    --cyan: #048a81;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: var(--bg);
    color: var(--yellow);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hidden {
    display: none;
}

h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
}

#main-buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

#easy:hover {
    color: green;
    font-weight: bold;
}

#medium:hover {
    color: yellow;
    font-weight: bold;
}

#hard:hover {
    color: red;
    font-weight: bold;
}

#number-buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

h6 {
    text-align: center;
    font-size: 1.5rem;
}

button {
    border: none;
    border-radius: 2rem;
    background-color: var(--rose-quartz);
}

button:hover {
    cursor: pointer;
    background-color: var(--bg-accent);
    color: var(--bg);
}

.main-buttons {
    display: inline-block;
    width: 10rem;
    height: 3rem;
}

.number {
    display: inline-block;
    width: 5rem;
    height: 5rem;
}

a {
    color: var(--bg-accent);
}

a:hover {
    color: var(--cyan);
}